.Categories img{
    width: 220px;
    height: 190px;
    cursor: pointer;
    border-radius: 15px;
}

.Categories {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin: 320px 28px;
    
}

.Categories a{
    text-decoration: none;
    color: black;
}

.Categories p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
text-align: center;
letter-spacing: 0.03em;
}

