.CartContainer{
    position: relative;
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 850px;
   margin: 150px 30px;

}

.shoppingcartItem h2{
    position: relative;
    font-family: 'Montserrat';
    margin: 91px 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.shoppingcartItem{
    display: flex;
    align-items: center;
    gap: 300px;
}

.shoppingcartItem a{
  margin-top: 220px;
  margin-left: 30px;
  font-family: 'Montserrat';
  font-weight: 500;
   font-size: 20px;
   line-height: 130%;
   padding: 15px;

   text-decoration: none;
   color: black;
}


.orderItem{
    position: absolute;
    border: 2px solid #000000;
    border-radius: 21px;
    width: 496px;
    height: 393px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-left: 750px;
    right: 35px;
    
}

.orderItem h3, p, input {
    margin-left: 25px;
}

.orderItem h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 130%;
}

.orderItem p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 130%;
}

.formItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.formItem input{
    width: 446px;
   height: 73px;
   text-align: center;
   border-radius: 20px;
   border: 1px solid #000000;

   font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 130%;

letter-spacing: 0.03em;

color: #929292;
   
}

.formItem div {
    width: 446px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    background: #339933;
    border-radius: 17px;
    color: white;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 130%;
letter-spacing: 0.03em;
cursor: pointer;

}

.orderItem p:nth-child(3){
    position: absolute;
    right: 73px;
    top: 105px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 130%;
letter-spacing: 0.03em;

color: #000000;

}

