.cartInfo img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}



.cartInfo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    border-top: 2px solid  #A7A7A7;
    border-bottom: 2px solid  #A7A7A7;
    padding: 30px;
    position: relative;
    bottom: 150px;
    width: 950px;

}

.cartInfo p:nth-child(2){
    position: relative;
    font-family: 'Montserrat';
    margin-bottom: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    
}

.cartInfo  p:nth-child(3){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.cartInfo p:nth-child(4){
    font-family: 'Montserrat';
    font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
   color: #8B8B8B;

   letter-spacing: 0.03em;
   text-decoration-line: line-through;
}

.CartItem span{
   position: absolute;
   top: 15px;
   right: 15px;
   cursor: pointer;
    
}

.BtnIncrementDescrement {
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-left: 220px;
    bottom: 60px;
}

.BtnIncrementDescrement p:nth-child(2){
    position: absolute;
    margin: 30px;
}

.BtnIncrementDescrement p:nth-child(3){
    position: absolute;
    font-size: 25px;
    right: 30px;
    cursor: pointer;
}

.BtnIncrementDescrement p:nth-child(1){
    position: absolute;
    font-size: 25px;
    left: 2px;
    color: #000000;
    cursor: pointer;

}

