.FormStyle input{
    width: 103px;
    height: 42px;
    border-radius: 7px;
border: 1px solid #000;
color: #ACACAC;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: 130%;
letter-spacing: 0.48px;
}

.FormStyle span{
    color: #000;
font-size: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: 0.6px;
}

.FormStyle{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 30px;
    top: 20px;
}

.formStyleContainer{
   width: 410px;
}

.FormStyle button{
    visibility: hidden;
}